apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: one-color
  # You'll usually want to add your resources to the argocd namespace.
  namespace: argocd
  # Add this finalizer ONLY if you want these to cascade delete.
  finalizers:
    # The default behaviour is foreground cascading deletion
    - resources-finalizer.argocd.argoproj.io
    # Alternatively, you can use background cascading deletion
    # - resources-finalizer.argocd.argoproj.io/background
  # Add labels to your application object.
  labels:
    name: one-color
spec:
  project: '{{.Values._argocdProjectName}}'
  source:
    repoURL: 'https://github.com/diegolagospagopa/devopslab-diego-deploy'
    path: helm/dev/one-color
    targetRevision: init-charts
    helm:
      releaseName: init-charts
      valueFiles:
        - values.yaml
      valuesObject:
        microservice-chart:
          azure:
            workloadIdentityClientId: '{{.Values._azureWorkloadIdentityClientId}}'
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: diego
  syncPolicy:
    automated: {}
  revisionHistoryLimit: 10
